
<!--Header-->
<app-navabar [tipo_navbar]="'general'"></app-navabar>
<br>

<div class="row" >
    <div class="col-sm-2" *ngFor="let product of products">
      <div class="card mt-5">
        <img src="{{product.image.secure_url}}" class="card-img-top product" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">El costo del auro es: {{product.price}} Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <a href="#" class="btn btn-dark" (click)="showModalMasInformacion()">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>