
<div class="container-sm">
<div class="row" >
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 col-xxl-2 align-items-stretch" *ngFor="let product of products" >
      <div class="card mt-5">
        <img src="{{product.image.secure_url}}" class="card-img-top product" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">El costo del auro es: {{product.price}} Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <a href="#" class="btn btn-dark" (click)="showModalMasInformacion()">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
