


<!---->

<div class="mx-auto p-4" style="width: 100%;" >
<form>
    
    <div class="col-md-4">
        <label for="formGroupExampleInput2" class="form-label">Select Image</label>
        <input type="file" class="form-control" id="formGroupExampleInput2" (change)="onFileSelected($event)">
    </div>
    <div class="col-md-4">
        <label for="validationCustom01" class="form-label">Name of Product.</label>
        <input [(ngModel)]="name" name="first"  class="form-control">
        <div class="valid-feedback">
          Looks good!
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" (click)="onUpload()"> Upload</button>
</form>
</div>
