<div class="main-container d-flex content">
  <div class="sidebar" id="side_nav">
    <div class="header-box px-2 pt-3 pb-4">
      <h1 class="fs-4">
        <span class="bg-white text-dark rounded shadow px-2 me-2 borde-color">Rochina Wellington</span>
        <br />
        <br />
        <span class="text-white"> Venta de Vehículos</span>
      </h1>
    </div>
    <ul class="list-unstyled px-2">
      <li class="">
        <a click="publicarVehiculo()" class="text-decoration-none px-3 py-2 d-block">
          <i class="fa-solid fa-house-user"></i>Dasboard
        </a>
      </li>
      <li class="">
        <a href="#" class="text-decoration-none px-3 py-2 d-block">
          <i class="fa-solid fa-list"></i>Porjects
        </a>
      </li>
      <li class="">
        <a
          href="#"
          class="text-decoration-none px-3 py-2 d-block d-flex justify-content-between"
        >
          <span><i class="fa-solid fa-comment"></i>Message</span>
          <span class="bg-dark rounded-pill text-white py-0 px-2">02</span>
        </a>
      </li>
      <li class="">
        <a routerLink="/insertProduct" class="text-decoration-none px-3 py-2 d-block"
          ><i class="fa-solid fa-envelope-open-text"></i>Services
        </a>
      </li>
      <li class="">
        <a href="#" onclick="return false" class="text-decoration-none px-3 py-2 d-block">
          <i class="fa-solid fa-users"></i>Customes
        </a>
      </li>
    </ul>
    <hr class="h-color mx-2" />
  </div>


</div>
